<main class="container_reviews">
    <section >
        <h2>
            Reviews
        </h2>
        <p>
                Pizza is one of the most important inventions of humanity. The one who invented the pizza should get the Nobel Prize. Pizza tastes to me in most restaurants, but the one in restaurant X is special.
        </p>
        <p>
                I recently noticed an ad for a new restaurant. I decided to visit her and see if they had good food there.
        </p>
        <p>
                I can recommend a restaurant. Above all: tasty food, secondly, I only speak English. I was very pleased that the owners of the resturants, including the waiters, speak English. Thanks to that I could communicate.
        </p>
        <p>
                The service was very friendly and the meal was so tasty.
        </p>
        <p>
                In my life I often eat pizza, especially when I have a break at work. However, I have never eaten a pizza as good as in restaurant X. Very carefully selected ingredients, perfectly baked pizza, friendly service
        </p>
    </section>
</main>
    
    